@custom-variant dark (&:where(.dark, .dark *));

html.entorno-local #auth-screen { display: none !important; }
html.entorno-local #app-container {
    display: flex !important;
    flex-direction: column;
    min-height: 100vh;
}
